.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

{/* Animations */}

.fadeIn0 {
  animation: fadeInLeft 500ms;
}

.fadeIn1 {
  animation: hideComp 100ms, fadeInLeft 500ms 100ms;
}

.fadeIn2 {
  animation: hideComp 200ms, fadeInLeft 500ms 200ms;
}

.fadeIn3 {
  animation: hideComp 300ms, fadeInLeft 500ms 300ms;
}

.fadeIn4 {
  animation: hideComp 400ms, fadeInLeft 500ms 400ms;
}

{/* Buttons */}

.normalButton {
  animation-duration: 500ms;
  width: 70%;
  max-width: 500px;
  height: 50px;
  background-color: #910f0f;
  border: none;
  border-radius: 20px;
  color: #ffffff;
  font-weight: bold;
  font-size: 16pt;
  font-family: Futura;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  transition: color 500ms,
  background-color 500ms,
  margin 100ms;
  margin: 20px;
}

.normalButton:hover {
  background-color: #b8bbb0;
  color: #ffffff;
}

.normalButton:active {
  margin: 23px;
}

{/* Icons */}

.userIcon {
  background-image: url(assets/icons/user.png);
}

